body {
    font-family: 'Oxygen', sans-serif;
    background: #111;
}

.frosting {
    background: rgba(111,111,111,0.6);
    border-radius: 5vmin;
}

.light-bg {
    background: #e7e7e7;
    border-radius: 5vmin;
}

.vignette-bottom {
    -moz-box-shadow:    inset 0 -12vh 12vh -3vh #111;
    -webkit-box-shadow: inset 0 -12vh 12vh -3vh #111;
    box-shadow:         inset 0 -12vh 12vh -3vh #111;
}

.navbar-default {
    /* Override
     * original bg & border color: #e7e7e7 */
    background: rgba(231,231,231,0.5);
    border-color: #777;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    /* Override 
     * original color: #777777 */
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    /* Override
     * original color: #5e5e5e */
    color: #e7e7e7;
}

.navbar-collapse[aria-expanded=true] li:hover {
    /* Hover background color animation */
    background: rgba(119,119,119,0.8);
}

.animated-bg {
    background-size: cover;
    height: 100vh;
    color: white;
    transition: background-image 0.5s ease-in;
}

.splash {
    height: 70vh;
    margin-top: 40px;
}

.big-icon {
    width: 25vmin;
    border: 4px solid rgba(231,231,231,0.3);
}

.small-icon {
    width: 10vmin;
}

#continue {
    color: white;
    font-size: 8vmin;
}

#continue:focus, #continue:hover {
    color: #e7e7e7;
}

section {
    margin-bottom: 30px;
}